/* Live Nation Font
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@font-face {
    font-family: 'Live Nation Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Live Nation Sans Regular'), local('LiveNationSans-Regular'), url('fonts/LiveNationSans-Regular.eot');
    src: url('fonts/LiveNationSans-Regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/LiveNationSans-Regular.woff2') format('woff2'),
         url('fonts/LiveNationSans-Regular.woff') format('woff'),
         url('fonts/LiveNationSans-Regular.ttf') format('truetype'),
         url('fonts/LiveNationSans-Regular.svg#LiveNationSans-Regular') format('svg');
}

@font-face {
    font-family: 'Live Nation Sans';
    font-style: italic;
    font-weight: 400;
    src: local('Live Nation Sans Italic'), local('LiveNationSans-Italic'), url('fonts/LiveNationSans-Italic.eot');
    src: url('fonts/LiveNationSans-Italic.eot?#iefix') format('embedded-opentype'),
         url('fonts/LiveNationSans-Italic.woff2') format('woff2'),
         url('fonts/LiveNationSans-Italic.woff') format('woff'),
         url('fonts/LiveNationSans-Italic.ttf') format('truetype'),
         url('fonts/LiveNationSans-Italic.svg#LiveNationSans-Italic') format('svg');
}

@font-face {
    font-family: 'Live Nation Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Live Nation Sans Bold'), local('LiveNationSans-Bold'), url('fonts/LiveNationSans-Bold.eot');
    src: url('fonts/LiveNationSans-Bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/LiveNationSans-Bold.woff2') format('woff2'),
         url('fonts/LiveNationSans-Bold.woff') format('woff'),
         url('fonts/LiveNationSans-Bold.ttf') format('truetype'),
         url('fonts/LiveNationSans-Bold.svg#LiveNationSans-Bold') format('svg');
}

@font-face {
    font-family: 'Live Nation Sans';
    font-style: italic;
    font-weight: 700;
    src: local('Live Nation Sans Bold Italic'), local('LiveNationSans-BoldItalic'), url('fonts/LiveNationSans-BoldItalic.eot');
    src: url('fonts/LiveNationSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
         url('fonts/LiveNationSans-BoldItalic.woff2') format('woff2'),
         url('fonts/LiveNationSans-BoldItalic.woff') format('woff'),
         url('fonts/LiveNationSans-BoldItalic.ttf') format('truetype'),
         url('fonts/LiveNationSans-BoldItalic.svg#LiveNationSans-BoldItalic') format('svg');
}

@font-face {
    font-family: 'Live Nation Sans';
    font-style: normal;
    font-weight: 800;
    src: local('Live Nation Sans ExtraBold'), local('LiveNationSans-ExtraBold'), url('fonts/LiveNationSans-ExtraBold.eot');
    src: url('fonts/LiveNationSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
         url('fonts/LiveNationSans-ExtraBold.woff2') format('woff2'),
         url('fonts/LiveNationSans-ExtraBold.woff') format('woff'),
         url('fonts/LiveNationSans-ExtraBold.ttf') format('truetype'),
         url('fonts/LiveNationSans-ExtraBold.svg#LiveNationSans-ExtraBold') format('svg');
}

@font-face {
    font-family: 'Live Nation Sans';
    font-style: italic;
    font-weight: 800;
    src: local('Live Nation Sans Extra Bold Italic'), local('LiveNationSans-ExtraBoldItalic'), url('fonts/LiveNationSans-ExtraBoldItalic.eot');
    src: url('fonts/LiveNationSans-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
         url('fonts/LiveNationSans-ExtraBoldItalic.woff2') format('woff2'),
         url('fonts/LiveNationSans-ExtraBoldItalic.woff') format('woff'),
         url('fonts/LiveNationSans-ExtraBoldItalic.ttf') format('truetype'),
         url('fonts/LiveNationSans-ExtraBoldItalic.svg#LiveNationSans-ExtraBoldItalic') format('svg');
}


/* General
–––––––––––––––––––––––––––––––––––––––––––––––––– */
html {
	font-size: 62.5%;
}

body {
	background: url('images/background.png') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding: 50px 20px;
	font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
	line-height: 1.4;
	font-family: 'Live Nation Sans', 'Helvetica Neue', Arial, sans-serif;
}

img {max-width:100%;}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: 2rem;}

.bronto{font-size: 4.11rem;}
h1, .yotta {font-size: 3.65rem;}
.zetta {font-size: 3.24rem;}
h2, .exa {font-size: 2.88rem;}
.peta {font-size: 2.56rem;}
h3, .tera {font-size: 2.28rem;}
.giga {font-size: 2.03rem;}
h4, .mega {font-size: 1.8rem;}
h5, .kilo {font-size: 1.6rem;}
.hecto {font-size: 1.42rem;}
p, .uno {font-size: 1.26rem;}
h6, .centi {font-size: 1.12rem;}
.milli	{font-size: 1.0rem;}


/* For devices larger than 375px */
@media (min-width: 23.4375em) {
	.bronto {font-size: 4.62rem;}
	h1, .yotta {font-size: 4.11rem;}
	.zetta {font-size: 3.65rem;}
	h2, .exa {font-size: 3.24rem;}
	.peta {font-size: 2.88rem;}
	h3, .tera {font-size: 2.56rem;}
	.giga {font-size: 2.28rem;}
	h4, .mega {font-size: 2.03rem;}
	h5, .kilo {font-size: 1.8rem;}
	.hecto {font-size: 1.6rem;}
	p, .uno {font-size: 1.41rem;}
	h6, .centi {font-size: 1.26rem;}
	.milli	{font-size: 1.12rem;}
}

/* For devices larger than 740px */
@media (min-width: 46.25em) {
	.bronto {font-size: 5.2rem;}
	h1, .yotta {font-size: 4.62rem;}
	.zetta {font-size: 4.11rem;}
	h2, .exa {font-size: 3.65rem;}
	.peta {font-size: 3.24rem;}
	h3, .tera {font-size: 2.88rem;}
	.giga {font-size: 2.56rem;}
	h4, .mega {font-size: 2.28rem;}
	h5, .kilo {font-size: 2.03rem;}
	.hecto {font-size: 1.8rem;}
	p, .uno {font-size: 1.6rem;}
	h6, .centi {font-size: 1.42rem;}
	.milli	{font-size: 1.26rem;}
}

h1 {
	font-weight:800;
	color:#ffffff;
	text-align:center;
	text-transform:uppercase;
}

h3 {
	font-weight: 400;
	color:#ffffff;
	text-align:center;
}


/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a, a:link, a:visited {
  color: #E21836;
  text-decoration:none;
}

a:hover, a:focus {
  color: #A91128;
  text-decoration:underline;
}


/* Divs
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.app-icon {
	margin-bottom:30px;
}

.center-div {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.dload-btns {
  text-align: center;
  margin-top: 50px;
}

.itunes-btn {
  width: 200px;
}

.gplay-btn {
  width: 227px;
}

.row .text-app-form {
	margin-top:4.0rem;
}

.row .tnc {
	margin-top:8.0rem;
}

.tnc p {
	color: #8C8C8C;
	text-align:center;
}

.tnc a, .tnc a:link, .tnc a:visited {
  color: #B6B6B6;
  text-decoration:none;
}

.tnc a:hover, .tnc a:focus {
  color: #D8D8D8;
  text-decoration:underline;
}


/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input, .btn, .btn-primary {
	padding: 8px 12px;
	border:0px;
	outline:0px;
	border-radius:0px;
	min-height:37px;
	vertical-align: top;
}

input[type="tel"] {
	background-color:#c5c5c5; 
	background-color:rgb(255, 255, 255, 0.2);
	color:#ffffff;
	font-weight: 400;
}

.btn, .btn-primary, .btn:visited, .btn-primary:visited {
    text-decoration:none;
    color:#ffffff;
    background-color:#E21836;
    border-color:transparent;
    text-transform: uppercase;
    letter-spacing:1px;
    font-weight: 800;
    box-shadow:none;
}

.btn:hover, .btn-primary:hover, .btn:active, .btn-primary:active, .btn:focus, .btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus
 {
    background-color:#A91128;
    border-color:transparent;
    box-shadow:none;
}
