/* Live Nation Font
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@font-face {
    font-family: 'live_nationextrabold_italic';
    src: url('fonts/livenation-extrabolditalic.eot');
    src: url('fonts/livenation-extrabolditalic.eot?#iefix') format('embedded-opentype'),
         url('fonts/livenation-extrabolditalic.woff2') format('woff2'),
         url('fonts/livenation-extrabolditalic.woff') format('woff'),
         url('fonts/livenation-extrabolditalic.ttf') format('truetype'),
         url('fonts/livenation-extrabolditalic.svg#live_nationextrabold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'live_nationbold_italic';
    src: url('fonts/livenation-bolditalic.eot');
    src: url('fonts/livenation-bolditalic.eot?#iefix') format('embedded-opentype'),
         url('fonts/livenation-bolditalic.woff2') format('woff2'),
         url('fonts/livenation-bolditalic.woff') format('woff'),
         url('fonts/livenation-bolditalic.ttf') format('truetype'),
         url('fonts/livenation-bolditalic.svg#live_nationbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'live_nationitalic';
    src: url('fonts/livenation-italic.eot');
    src: url('fonts/livenation-italic.eot?#iefix') format('embedded-opentype'),
         url('fonts/livenation-italic.woff2') format('woff2'),
         url('fonts/livenation-italic.woff') format('woff'),
         url('fonts/livenation-italic.ttf') format('truetype'),
         url('fonts/livenation-italic.svg#live_nationitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'live_nationextrabold';
    src: url('fonts/livenation-extrabold.eot');
    src: url('fonts/livenation-extrabold.eot?#iefix') format('embedded-opentype'),
         url('fonts/livenation-extrabold.woff2') format('woff2'),
         url('fonts/livenation-extrabold.woff') format('woff'),
         url('fonts/livenation-extrabold.ttf') format('truetype'),
         url('fonts/livenation-extrabold.svg#live_nationextrabold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'live_nationbold';
    src: url('fonts/livenation-bold.eot');
    src: url('fonts/livenation-bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/livenation-bold.woff2') format('woff2'),
         url('fonts/livenation-bold.woff') format('woff'),
         url('fonts/livenation-bold.ttf') format('truetype'),
         url('fonts/livenation-bold.svg#live_nationbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'live_nationregular';
    src: url('fonts/livenation-regular.eot');
    src: url('fonts/livenation-regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/livenation-regular.woff2') format('woff2'),
         url('fonts/livenation-regular.woff') format('woff'),
         url('fonts/livenation-regular.ttf') format('truetype'),
         url('fonts/livenation-regular.svg#live_nationregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* General
–––––––––––––––––––––––––––––––––––––––––––––––––– */
html {
	font-size: 62.5%;
}

body {
	background: url('images/background.png') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding: 50px;
	font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
	line-height: 1.4;
	font-family:'livenation-regular', 'proxima nova', arial, helvetica, sans-serif;
}

img {max-width:100%;}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: 2rem;}

.bronto{font-size: 4.11rem;}
h1, .yotta {font-size: 3.65rem;}
.zetta {font-size: 3.24rem;}
h2, .exa {font-size: 2.88rem;}
.peta {font-size: 2.56rem;}
h3, .tera {font-size: 2.28rem;}
.giga {font-size: 2.03rem;}
h4, .mega {font-size: 1.8rem;}
h5, .kilo {font-size: 1.6rem;}
.hecto {font-size: 1.42rem;}
p, .uno {font-size: 1.26rem;}
h6, .centi {font-size: 1.12rem;}
.milli	{font-size: 1.0rem;}


/* For devices larger than 375px */
@media (min-width: 23.4375em) {
	.bronto {font-size: 4.62rem;}
	h1, .yotta {font-size: 4.11rem;}
	.zetta {font-size: 3.65rem;}
	h2, .exa {font-size: 3.24rem;}
	.peta {font-size: 2.88rem;}
	h3, .tera {font-size: 2.56rem;}
	.giga {font-size: 2.28rem;}
	h4, .mega {font-size: 2.03rem;}
	h5, .kilo {font-size: 1.8rem;}
	.hecto {font-size: 1.6rem;}
	p, .uno {font-size: 1.41rem;}
	h6, .centi {font-size: 1.26rem;}
	.milli	{font-size: 1.12rem;}
}

/* For devices larger than 740px */
@media (min-width: 46.25em) {
	.bronto {font-size: 5.2rem;}
	h1, .yotta {font-size: 4.62rem;}
	.zetta {font-size: 4.11rem;}
	h2, .exa {font-size: 3.65rem;}
	.peta {font-size: 3.24rem;}
	h3, .tera {font-size: 2.88rem;}
	.giga {font-size: 2.56rem;}
	h4, .mega {font-size: 2.28rem;}
	h5, .kilo {font-size: 2.03rem;}
	.hecto {font-size: 1.8rem;}
	p, .uno {font-size: 1.6rem;}
	h6, .centi {font-size: 1.42rem;}
	.milli	{font-size: 1.26rem;}
}

h1 {
	font-family:'livenation-extrabold';
	color:#ffffff;
	text-align:center;
	text-transform:uppercase;
}

h3 {
	font-family:'livenation-regular';
	color:#ffffff;
	text-align:center;
}


/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a, a:link, a:visited {
  color: #E21836;
  text-decoration:none;
}

a:hover, a:focus {
  color: #A91128;
  text-decoration:underline;
}


/* Divs
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.app-icon {
	margin-bottom:30px;
}

.center-div {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.dload-btns {
  text-align: center;
  margin-top: 50px;
}

.itunes-btn {
  width: 200px;
}

.gplay-btn {
  width: 227px;
}

.row .tnc, .row .text-app-form {
	margin-top:4.0rem;
}

.tnc p {
	color: #8C8C8C;
	text-align:center;
}

.tnc a, .tnc a:link, .tnc a:visited {
  color: #B6B6B6;
  text-decoration:none;
}

.tnc a:hover, .tnc a:focus {
  color: #D8D8D8;
  text-decoration:underline;
}


/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input, .btn, .btn-primary {
	padding: 8px 12px;
	border:0px;
	outline:0px;
	border-radius:0px;
	margin-top:-1px;
}

input[type="tel"] {
	background-color:#c5c5c5; 
	background-color:rgb(255, 255, 255, 0.2);
	color:#ffffff;
	font-family:'livenation-regular';
}

.btn, .btn-primary, .btn:visited, .btn-primary:visited {
    text-decoration:none;
    color:#ffffff;
    background-color:#E21836;
    border-color:transparent;
    text-transform: uppercase;
    letter-spacing:1px;
    font-family:'livenation-extrabold';
    box-shadow:none;
}

.btn:hover, .btn-primary:hover, .btn:active, .btn-primary:active, .btn:focus, .btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus
 {
    background-color:#A91128;
    border-color:transparent;
    box-shadow:none;
}


